<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Services</title>
</head>

<body>
  <div class="bodywrapper">
    {% if request.session.name is defined %}
    {% include 'loginheader.html' %}
    {% else %}
    {% include 'header.html' %}
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-12 services">
          <h1>Bronze Package</h1>
          <img src="/static/imgs/bronze.png" class="card-img-top" alt="...">
          <ul>
            <li>
              <h4>35 Professional Photographs</h4>
            </li>
            <li>
              <h4>10 Photos Professionally Touched Up</h4>
            </li>
          </ul>
          <h2>$299</h2>
        </div>
        <div class="col-xl-3 col-md-6 col-12 services">
          <h1>Silver Package</h1>
          <img src="/static/imgs/silver.png" class="card-img-top" alt="...">
          <ul>
            <li>
              <h4>45 Professional Photographs</h4>
            </li>
            <li>
              <h4>20 Photos Professionally Touched Up</h4>
            </li>
            <li>
              <h4>5 Drone Aerial Photographs</h4>
            </li>
            <li>
              <h4>Virtual Tour</h4>
            </li>
            <li>
              <h4>60 Second Video Clip</h4>
            </li>
          </ul>
          <h2>$399</h2>
        </div>
    <div class="col-xl-3 col-md-6 col-12 services">
      <h1>Gold Package</h1>
      <img src="/static/imgs/gold.png" class="card-img-top" alt="...">
      <ul>
        <li>
          <h4>60 Professional Photographs</h4>
        </li>
        <li>
          <h4>20 Photos Professionally Touched Up</h4>
        </li>
        <li>
          <h4>5 Drone Aerial Photographs</h4>
        </li>
        <li>
          <h4>Virtual Tour</h4>
        </li>
        <li>
          <h4>60 Second Video Clip</h4>
        </li>
      </ul>
      <h2>$499</h2>
    </div>
  <div class="col-xl-3 col-md-6 col-12 services">
    <h1>Platinum Package</h1>
    <img src="/static/imgs/plat.png" class="card-img-top" alt="...">
    <ul>
      <li>
        <h4>75 Professional Photographs</h4>
      </li>
      <li>
        <h4>30 Photos Professionally Touched Up</h4>
      </li>
      <li>
        <h4>5 Drone Aerial Photographs</h4>
      </li>
      <li>
        <h4>Virtual Tour</h4>
      </li>
      <li>
        <h4>60 Second Video Clip</h4>
      </li>
      <li>
        <h4>5 Photographs Virtually Stagged</h4>
      <li>
        <h4>Single Property Website with Unique Domain</h4>
      </li>
    <h2>$599</h2>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>